<div class="mt-5 flex flex-column align-items-center justify-content-center h-full">
  <p-card header="Ingrese su sentencia:" class="w-25rem h-25rem md:w-6 lg:w-4 text-center">
    <form [formGroup]="declarationForm" (ngSubmit)="onSubmit()">
      <textarea rows="5" cols="30" pInputTextarea formControlName="declaration" [autoResize]="true"></textarea>
      <p-button label="Validar sentencia" icon="pi pi-check-circle" type="submit"></p-button>
    </form>

    <p-messages *ngIf="messages && messages.length" [(value)]="messages" [enableService]="true" [closable]="true"/>
  </p-card>
</div>
